<div class="jumbotron jumbotron-fluid jumboCor mb-0">
    <div class="container">
        <h1 class="display-4 d-flex justify-content-center">Mercearia</h1>
    </div>
</div>
<div class="container">
    <div align="center" class="card-columns p-3">
        <div class="card p-3" id="cardBack">
            <img class="card-img-top" src="../../assets/img/categorias/1480989600000-Molho-de-tomate-caseiro.jpg"
                alt="Imagem de capa do card" id="size">
            <div class="card-body">
                <h5 class="card-title">Molho de Tomate Assado Caseiro Orgânico 200g</h5>
                <p class="card-text">R$ 16,90</p>
                <button class="mr-2">Carrinho</button>
                <button>Comprar</button>
            </div>
        </div>
        <div class="card" id="cardBack">
            <img class="card-img-top" src="../../assets/img/categorias/20084-versatil-e-saboroso-o-palmito-deve-faze-640x400-2.jpg" alt="Imagem de capa do card" id="size">
            <div class="card-body">
                <h5 class="card-title">Palmito Pupunha em Rodelas Orgânico 300g</h5>
                <p class="card-text">20,90</p>
                <button class="mr-2">Carrinho</button>
                <button>Comprar</button>
            </div>
        </div>
        <div class="card" id="cardBack">
            <img class="card-img-top" src="../../assets/img/categorias/conservas.png"
                alt="Imagem de capa do card" id="size">
            <div class="card-body">
                <h5 class="card-title">Conservas Orgânicas Diversas 300g</h5>
                <p class="card-text"> A partir de R$ 15,95</p>
                <button class="mr-2">Carrinho</button>
                <button>Comprar</button>
            </div>
        </div>
        <div class="card" id="cardBack">
            <img class="card-img-top" src="../../assets/img/categorias/receita-de-molho-de-pimenta-biquinho-3.jpg"
                alt="Imagem de capa do card" id="size">
            <div class="card-body">
                <h5 class="card-title">Molho de Pimenta Biquinho Artesanal 220g</h5>
                <p class="card-text">R$ 15,75</p>
                <button class="mr-2">Carrinho</button>
                <button>Comprar</button>
            </div>
        </div>
        <div class="card" id="cardBack">
            <img class="card-img-top"
                src="../../assets/img/categorias/vinagre-de-maca-beneficios-formas-de-usar-e-receita-caseira-5.jpg"
                alt="Imagem de capa do card" id="size">
            <div class="card-body">
                <h5 class="card-title">Vinagre de Maçã Artesanal Orgânico 500ml</h5>
                <p class="card-text">R$ 16,90</p>
                <button class="mr-2">Carrinho</button>
                <button>Comprar</button>
            </div>
        </div>
        <div class="card" id="cardBack">
            <img class="card-img-top" src="../../assets/img/categorias/71zSifa1mWL._AC_SY450_.jpg"alt="Imagem de capa do card"
                id="size">
            <div class="card-body">
                <h5 class="card-title">Tempero Diversos 60g</h5>
                <br>
                <p class="card-text">A partir de R$ 8,98</p>
                <button class="mr-2">Carrinho</button>
                <button>Comprar</button>
            </div>
        </div>
    </div>
</div>
<div class="wrapper mb-4">
    <button>Veja Mais</button>
</div>
