<style>
    button:focus, 
    button:hover {
        color: #53744E;
        font-size: large; 
        }
</style>
<div class="container-fluid">
    <div class="row d-flex align-items-center">

        <div class="col-md-6">
            <div class="row d-flex justify-content-center">

                <div class="col-md-6">
                    <h1 class="text-center mb-3">Entrar</h1>

                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn"><b>Entrar</b></button>
                    </div>
                    <hr class="mt-5 mb-5">
                    <p class="text-center">
                        Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a>
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-6" id="img-bg">
            <img src="../../assets/img/Logo_caixinha_Prancheta_1_copia2.png" alt="Logo" width="600px" height="600px" class="img-fluid rounded-circle">
            <h1 id="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Armazém Natural</h1>
            <h3 class="mb-5" id="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Por você. Para você. </h3>
        </div>
    </div>
</div>